

/*ESTILOS GENÉRICOS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'MiFuenteFashionismLight'; /* Nombre que le das a la fuente */
    src: url('estilos_paginas_comunes/fuentes_paginas_comunes/ESNRAZ-FashionismLight.ttf') format('truetype'); /* Ruta donde se encuentra la fuente */
}

@font-face {
    font-family: 'MiFuenteJamesStroker'; /* Nombre que le das a la fuente */
    src: url('../estilos_paginas_comunes/fuentes_paginas_comunes/ESNRAZ-JamesStroker.ttf') format('truetype'); /* Ruta donde se encuentra la fuente */
}

@font-face {
    font-family: 'MiFuenteSingPainter'; /* Nombre que le das a la fuente */
    src: url('../estilos_paginas_comunes/fuentes_paginas_comunes/ESNRAZ-SignPainter-HouseScriptSem.ttf') format('truetype'); /* Ruta donde se encuentra la fuente */
}

@font-face {
    font-family: 'MiFuenteDDayStenceil'; /* Nombre que le das a la fuente */
    src: url('../estilos_paginas_comunes/fuentes_paginas_comunes/ESNRAZ-DDayStencil.ttf') format('truetype'); /* Ruta donde se encuentra la fuente */
}
@font-face {
    font-family: 'MiFuenteCreativo'; /* Nombre que le das a la fuente */
    src: url('../estilos_paginas_comunes/fuentes_paginas_comunes/Creativo Regular.otf') format('truetype'); /* Ruta donde se encuentra la fuente */
}

@font-face {
    font-family: 'MiFuentePanPizza'; /* Nombre que le das a la fuente */
    src: url('../estilos_paginas_comunes/fuentes_paginas_comunes/panpizza.ttf') format('truetype'); /* Ruta donde se encuentra la fuente */
}
/*ESTILOS GENÉRICOS FIN*/

/*CONTENEDOR PROMOCIÓN TRADICIONALES*/

.contenedor-de-promocion-tradicionales{

    width: 100%;    
    margin-top: 10vh;

}

.columna-contenedor-de-promociones{

    height: 90vh;
    margin-top: 10vh;
    background-color: rgba(255,126,5,1);
    background-image: radial-gradient(circle at right,rgba(255,255,255,1)1%,rgba(255,126,5,1)50%);
    position: relative;
    display: flex;
    flex-direction: row;

}

.conte-promo-texto{

    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

/*div Promoción*/
.contenedor-promo-price{

    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

.contenedor-promo-price-white{
    width: 80%;
    height: 80%; 
    border-radius: 50px;
    background-color: rgba(255,255,255,1);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-promo-price p{


    text-align: center;
    font-size: 116px;
    font-family: MiFuenteJamesStroker; 
    color: rgba(255,86,5,1);
    animation: cambiarcolor 1s ;
    margin-bottom: 0;
}  

@keyframes cambiarcolor{   

    0%{
        font-size: 114px; 
    }    
    25%{

        font-size: 117px;
    }
    50%{

        font-size: 118px;
    }
    75%{

        font-size: 117x;
    }
    100%{

    }    
}

.contenedor-promo-price-99{

    width: 100%;
    height: 30%;
    perspective: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenedor-promo-price-99 p{

    text-align: center;
    font-size: 180px;
    font-family: MiFuenteSingPainter; 
    color: rgba(255,255,255,1);
    line-height: 1;
    text-shadow: 4px 5px 2px rgba(255,86,5,1), 4px 6px 3px rgba(255,255,255,1);
    -webkit-text-stroke: 2px rgba(255,126,5,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
    text-stroke: 2px 2px  rgba(255,126,5,1);

}

.contenedor-promo-pizza-grande{

    width: 100%;
    height: 10%;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenedor-promo-pizza-grande p{

    text-align: center;
    font-size: 58px;
    font-family: MiFuenteFashionismLight; 
    color: rgba(255,255,255,1);
    line-height: 1;
    text-shadow: 4px 5px 2px rgba(255,86,5,1);
    -webkit-text-stroke: 1px rgba(255,126,5,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
    text-stroke: 1px 2px rgba(255,86,5,1);
    margin-bottom: 0;
}

.contenedor-promo-tres-pizzas{

    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenedor-promo-tres-pizzas p{

    text-align: center;
    font-size: 24px;
    font-family: MiFuenteFashionismLight; 
    color: rgba(255,255,255,1);
    line-height: 1;
    letter-spacing: 3px;
    word-spacing: 3px;
    margin-bottom: 0;
}

.contenedor-promo-dos-pizzas{

    width: 100%;
    height: 25%;  
    display: flex;
    flex-direction: row;


}

.contenedor-promo-dos-pizzas-text{

    width: 50%;
    height: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

.contenedor-promo-dos-pizzas-text p{

    text-align: left;
    font-size: 24px;
    font-family: MiFuenteSingPainter; 
    color: rgba(255,255,255,1);
    line-height: 1;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 0;
}

.contenedor-promo-price-129{

    width: 50%;
    height: 50%;    
    background-color: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.contenedor-promo-price-129 p{

    text-align: center;
    font-size: 62px;
    font-family: MiFuenteSingPainter; 
    color: rgba(255,255,255,1);
    line-height: 1;
    text-shadow: 1px 2px 1px rgba(255,86,5,1), 2px 3px 2px rgba(255,255,255,1);
    -webkit-text-stroke: 1px rgba(255,126,5,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
    text-stroke: 1px 2px  rgba(255,126,5,1);
    margin-bottom: 0;
}


.conte-promo-price-imagen{

    width: 25%;
    height: 100%;
}
.contenedor-promo-price-imagen{

    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: rgba(255,255,255,0);
    background-image: url(/imagenes_vistas/promociones-pizza.gif);
    background-size: cover;
    background-repeat: no-repeat;

}



/*CARRUSEL 2 GOURMET VD TRADICIONAL*/ /*CARRUSEL 2 GOURMET VD TRADICIONAL*/ /*CARRUSEL 2 GOURMET VD TRADICIONAL*/ /*CARRUSEL 2 GOURMET VD TRADICIONAL*/
.container-cards-pizzeria-gourmet-vs-tradicional{

    width: 100%;
    margin-top: 10vh;
}

.fila-tradi-vs-gour{

    position: relative;

}

.column-conte-left-gour-vs-tra,
.column-conte-right-gour-vs-tra{

    height: 90vh;
    display: flex;
    flex-direction: row;
    position: relative;
}

.contenedor-izquierdo-gourmet-vs-tradicional{

    width: 100%;
    height: 100%;
    background-color: rgba(255,126,5,1);
    background-image: radial-gradient(circle at right,rgba(255,126,5,0.5), rgba(1,1,1,1)80%); 
    position: relative;
    display: flex;
    flex-direction: row;

}

.contenedor-izquierdo-gourmet-vs-tradicional-imagen{

    width: 45%;
    height: 100%;
    transform: rotate(180deg);
}



.contenedor-izquierdo-gourmet-vs-tradicional-imagen img{

    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;

}

.contenedor-izquierdo-gourmet-vs-tradicional-texto{

    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor-izquierdo-gourmet-vs-tradicional-texto-1{

    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-izquierdo-gourmet-vs-tradicional-texto-1 p{

    font-family: MiFuenteDDayStenceil;
    color: rgba(235,235,235,1);
    font-size: 132px;
    text-align: center;
    -webkit-text-stroke: 1px rgba(81,81,81,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
    text-stroke: 1px 2px rgba(81,81,81,1);
}

.contenedor-izquierdo-gourmet-vs-tradicional-texto-2{

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.contenedor-izquierdo-gourmet-vs-tradicional-texto-2 p{

    font-family: MiFuenteCreativo;
    color: rgba(235,235,235,1);
    font-size: 72px;
    text-align: center;
    -webkit-text-stroke: 1px rgba(81,81,81,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
    text-stroke: 1px 2px rgba(81,81,81,1);
}

.contenedor-izquierdo-gourmet-vs-tradicional-texto-3{

    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.contenedor-izquierdo-gourmet-vs-tradicional-texto-3 p{

    font-family: MiFuentePanPizza;
    color: rgba(255,86,5,1);
    font-size: 80px;
    text-align: center;
    -webkit-text-stroke: 1px rgba(221,221,221,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
    text-stroke: 1px 2px rgba(221,221,221,1);
    margin-bottom: 0;
}

.contenedor-izquierdo-gourmet-vs-tradicional-texto-4{

    width: 100%;
    height: 20%;

}

.contenedor-izquierdo-gourmet-vs-tradicional-texto-4 p{

    font-family: sans-serif;
    font-weight: lighter;
    color: rgba(235,235,235,1);
    font-size: 28px;
    text-align: center;
}

.contenedor-derecho-gourmet-vs-tradicional{

    width: 100%;
    height: 100%;
    background-color: rgba(251,255,12,1);
    background-image: radial-gradient(circle at left, rgba(251,255,12,0.5)0%,rgba(255,86,5,1)80%); 
    position: relative;
    display: flex;
    flex-direction: row;
}

.contenedor-derecho-gourmet-vs-tradicional-imagen{

    width: 45%;
    height: 100%;
}

.contenedor-derecho-gourmet-vs-tradicional-imagen img{

    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.contenedor-derecho-gourmet-vs-tradicional-texto{

    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.contenedor-derecho-gourmet-vs-tradicional-texto-1{

    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.contenedor-derecho-gourmet-vs-tradicional-texto-1 p{

    font-family: MiFuenteDDayStenceil;
    color: rgba(235,235,235,1);
    font-size: 132px;
    text-align: center;
    -webkit-text-stroke: 1px rgba(81,81,81,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
    text-stroke: 1px 2px rgba(81,81,81,1);

}

.contenedor-derecho-gourmet-vs-tradicional-texto-2{

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.contenedor-derecho-gourmet-vs-tradicional-texto-2 p{

    font-family: MiFuenteCreativo;
    color: rgba(235,235,235,1);
    font-size: 72px;
    text-align: center;
    -webkit-text-stroke: 1px rgba(81,81,81,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
    text-stroke: 1px 2px rgba(81,81,81,1);
}

.contenedor-derecho-gourmet-vs-tradicional-texto-3{

    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.contenedor-derecho-gourmet-vs-tradicional-texto-3 p{

    font-family: MiFuentePanPizza;
    color: rgba(255,86,5,1);
    font-size: 80px;
    text-align: center;
    -webkit-text-stroke: 1px rgba(221,221,221,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
    text-stroke: 1px 2px rgba(221,221,221,1);
    margin-bottom: 0;
}


.contenedor-derecho-gourmet-vs-tradicional-texto-4{


    width: 100%;
    height: 20%;

}

.contenedor-derecho-gourmet-vs-tradicional-texto-4 p{

    font-family: sans-serif;
    font-weight: lighter;
    color: rgba(235,235,235,1);
    font-size: 28px;
    text-align: center;
}

.contenedor-centro-gourmet-vs-tradicional{

    width: 0.4%;
    height: 90%;
    background-image: linear-gradient(90deg, rgba(241,244,51,1)2%, rgba(255,255,235,1)20%,rgba(255,255,251,1)21%,rgba(255,255,251,1)79%, rgba(255,255,235,1)80%,rgba(241,244,51,1)97%); 
    border: 1px solid rgba(241,244,51,1);
    z-index: 0;
    animation: brillar 3s infinite;
    position: absolute;
    top: 10%;
    left: 49.8%;
}

@keyframes brillar{


    0% {


        box-shadow: 2px 2px 25px 15px rgba(248,250,197,0.1), -2px -2px 25px 15px rgba(248,250,197,0.1);

    }
    50% {

        box-shadow: 2px 2px 25px 15px rgba(255,255,254,0.4), -2px -2px 25px 15px rgba(255,255,254,0.4);

    }
    100% {

        box-shadow: 1px 1px 5px 5px rgba(241,244,51,0.2), -1px -1px 5px 5px rgba(241,244,51,0.2);

    }
}

.gourmet-vs-tradicional-vs-1{

    position: absolute;
    width: 18%;
    height: 20%;
    top:48%;
    left: 40%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
}

.gourmet-vs-tradicional-vs-1 h2{

    font-size: 150px;
    color: rgba(255,255,255,1);
    text-shadow: 4px 5px 6px rgba(255,86,5,1), 3px 4px 5px rgba(255,255,255,1);      
    font-weight: bold;
    letter-spacing: 32px;
    text-align: center;
    margin-bottom: 0;
}



/*CARRUSEL 2 GOURMET VD TRADICIONAL*/ /*CARRUSEL 2 GOURMET VD TRADICIONAL*/ /*CARRUSEL 2 GOURMET VD TRADICIONAL*/ /*CARRUSEL 2 GOURMET VD TRADICIONAL*/




/*@MEDIA QUERYS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*@MEDIA QUERYS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*media querys medium*/
@media (max-width:768px){


    .columna-contenedor-de-promociones{

        flex-direction: column;
        background-image: radial-gradient(circle at bottom,rgba(255,255,255,1)1%,rgba(255,126,5,1)50%);

    }

    .conte-promo-texto{

        width: 100%;
        height: 70%;
    }

    /*div Promoción*/

    .contenedor-promo-price{

        height: 30%;

    }


    .contenedor-promo-price-white{

        width: 90%;
        height: 70%; 
    }

    .contenedor-promo-price p{

        font-size: 76px;
    }  

    @keyframes cambiarcolor{   

        0%{
            font-size: 74px; 
        }    
        25%{

            font-size: 80px;
        }
        50%{

            font-size: 82px;
        }
        75%{

            font-size: 80px;
        }
        100%{

        }    
    }

    .contenedor-promo-price-99{

        width: 100%;
        height: 30%;
        perspective: 500px;

    }

    .contenedor-promo-price-99 p{


        font-size: 90px;
        margin-bottom: 0;
    }

    .contenedor-promo-pizza-grande{

        height: 15%;

    }

    .contenedor-promo-pizza-grande p{


    }

    .contenedor-promo-tres-pizzas{

        width: 100%;
        height: 10%;

    }

    .contenedor-promo-tres-pizzas p{

        text-align: center;
        font-size: 24px;
        letter-spacing: 0px;
        word-spacing: 0px;

    }

    .contenedor-promo-dos-pizzas{

        width: 100%;
        height: 15%;  
        display: flex;
        flex-direction: row;


    }

    .contenedor-promo-dos-pizzas-text{

        height: 100%;
        justify-content: center;
        align-items: flex-end;

    }

    .contenedor-promo-dos-pizzas-text p{

        text-align: right;
        letter-spacing: 0px;
        word-spacing: 0px;

    }

    .contenedor-promo-price-129{

        height: 100%; 
        justify-content: center;

    }

    .contenedor-promo-price-129 p{

        text-align: left;
        font-size: 56px;

    }


    .conte-promo-price-imagen{

        width: 100%;
        height: 30%;
    }

    .contenedor-promo-price-imagen{

        width: 100%;
        height: 90%;
        margin-top: 10%;
        margin-left: 0;
        background-image: url(/imagenes_vistas/promociones-pizza-horizontal.gif);

    }

    /*CARRUSEL 2 GOURMET VD TRADICIONAL*/ /*CARRUSEL 2 GOURMET VD TRADICIONAL*/ /*CARRUSEL 2 GOURMET VD TRADICIONAL*/ /*CARRUSEL 2 GOURMET VD TRADICIONAL*/
    .container-cards-pizzeria-gourmet-vs-tradicional{

        width: 100%;
        margin-top: 10vh;
    }

    .fila-tradi-vs-gour{

        position: relative;

    }

    .column-conte-left-gour-vs-tra,
    .column-conte-right-gour-vs-tra{

        height: 45vh;
    }

    .contenedor-izquierdo-gourmet-vs-tradicional-imagen{

        width: 40%;
        
    }

    .contenedor-izquierdo-gourmet-vs-tradicional-texto{

        width: 60%;
        
    }

    .contenedor-izquierdo-gourmet-vs-tradicional-texto-1{

        height: 30%;
        justify-content: flex-end;
        
    }

    .contenedor-izquierdo-gourmet-vs-tradicional-texto-1 p{

        font-size: 82px;
        -webkit-text-stroke: 0.5px rgba(81,81,81,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
        text-stroke: 0.5px 2px rgba(81,81,81,1);
        margin-bottom: 0;
    }

    .contenedor-izquierdo-gourmet-vs-tradicional-texto-2{
       
        justify-content: center;

    }

    .contenedor-izquierdo-gourmet-vs-tradicional-texto-2 p{

        font-size: 42px;
        -webkit-text-stroke: 0.5px rgba(81,81,81,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
        text-stroke: .5px 2px rgba(81,81,81,1);
        margin-bottom: 0;
    }

    .contenedor-izquierdo-gourmet-vs-tradicional-texto-3{

        height: 10%;
        justify-content: center;
    }

    .contenedor-izquierdo-gourmet-vs-tradicional-texto-3 p{

        font-size: 42px;
        -webkit-text-stroke: 0.5px rgba(221,221,221,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
        text-stroke: 0.5px 2px rgba(221,221,221,1);
        margin-bottom: 0;
    }

    .contenedor-izquierdo-gourmet-vs-tradicional-texto-4{

        height: 15%;

    }

    .contenedor-izquierdo-gourmet-vs-tradicional-texto-4 p{

        font-size: 22px;
    }

    .contenedor-derecho-gourmet-vs-tradicional{

        width: 100%;
        height: 100%;
        background-color: rgba(251,255,12,1);
        background-image: radial-gradient(circle at left, rgba(251,255,12,0.5)0%,rgba(255,86,5,1)80%); 
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .contenedor-derecho-gourmet-vs-tradicional-imagen{

        width: 45%;
        height: 100%;
    }

    .contenedor-derecho-gourmet-vs-tradicional-imagen img{

        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .contenedor-derecho-gourmet-vs-tradicional-texto{

        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;        
        justify-content: center;

    }

    .contenedor-derecho-gourmet-vs-tradicional-texto-1{

        justify-content: flex-end;
        
    }



    .contenedor-derecho-gourmet-vs-tradicional-texto-1 p{

      
        font-size: 82px;
        -webkit-text-stroke: 0.5px rgba(81,81,81,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
        text-stroke: 0.5px 2px rgba(81,81,81,1);
        margin-bottom: 0;
    }

    .contenedor-derecho-gourmet-vs-tradicional-texto-2{

       justify-content: center;

    }

    .contenedor-derecho-gourmet-vs-tradicional-texto-2 p{

        font-size: 42px;
        -webkit-text-stroke: 0.5px rgba(81,81,81,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
        text-stroke: 0.5px 2px rgba(81,81,81,1);
        margin-bottom: 0;
    }

    .contenedor-derecho-gourmet-vs-tradicional-texto-3{

        height: 10%;
        justify-content: center;

    }

    .contenedor-derecho-gourmet-vs-tradicional-texto-3 p{

        font-size: 42px;
        -webkit-text-stroke: 0.5px rgba(221,221,221,1); /* Ancho y color del contorno (para navegadores WebKit como Chrome y Safari) */
        text-stroke: 0.5px 2px rgba(221,221,221,1);
        margin-bottom: 0;
    }


    .contenedor-derecho-gourmet-vs-tradicional-texto-4{

        height: 15%;

    }

    .contenedor-derecho-gourmet-vs-tradicional-texto-4 p{

        font-size: 22px;
    }

    .contenedor-centro-gourmet-vs-tradicional{

        width: 100%;
        height: 0.4%;
        background-image: linear-gradient(90deg, rgba(241,244,51,1)2%, rgba(255,255,235,1)20%,rgba(255,255,251,1)21%,rgba(255,255,251,1)79%, rgba(255,255,235,1)80%,rgba(241,244,51,1)97%); 
        border: 1px solid rgba(241,244,51,1);
        z-index: 1000;
        animation: brillar 3s infinite;
        position: absolute;
        top: 55%;
        left: 0%;
    }

    @keyframes brillar{


        0% {


            box-shadow: 2px 2px 25px 15px rgba(248,250,197,0.1), -2px -2px 25px 15px rgba(248,250,197,0.1);

        }
        50% {

            box-shadow: 2px 2px 25px 15px rgba(255,255,254,0.4), -2px -2px 25px 15px rgba(255,255,254,0.4);

        }
        100% {

            box-shadow: 1px 1px 5px 5px rgba(241,244,51,0.2), -1px -1px 5px 5px rgba(241,244,51,0.2);

        }
    }

    .gourmet-vs-tradicional-vs-1{

        width: 40%;
        height: 20%;
        top:45%;
        left: 32%;
        z-index: 1001;
        padding-left: 7px;


    }

    .gourmet-vs-tradicional-vs-1 h2{

        font-size: 120px;    
        letter-spacing: 7px;

    }

}

/*@MEDIA QUERYS FIN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*@MEDIA QUERYS FIN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

