<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>FiltroSeguridadAdministrador</filter-name>
        <filter-class>filtros.FiltroSeguridadAdministrador</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroSeguridadAdministrador</filter-name>
        <url-pattern>/vistas_administrador/administradorClientes.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroSeguridadAdministrador</filter-name>
        <url-pattern>/vistas_administrador/administradorProductos.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroSeguridadAdministrador</filter-name>
        <url-pattern>/vistas_administrador/administradorPedidos.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroSeguridadAdministrador</filter-name>
        <url-pattern>/vistas_administrador/administradorModuloPrincipal.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltroSeguridadClientes</filter-name>
        <filter-class>filtros.FiltroSeguridadClientes</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroSeguridadClientes</filter-name>
        <url-pattern>/vistas/formularioRegistroClienteListar.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroSeguridadClientes</filter-name>
        <url-pattern>/vistas/ordenpedido.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ControladorProductosListar</servlet-name>
        <servlet-class>controladores.ControladorProductosListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorClientes</servlet-name>
        <servlet-class>controladores.ControladorClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVentas</servlet-name>
        <servlet-class>controladores.ControladorVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSucursales</servlet-name>
        <servlet-class>controladores.ControladorSucursales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProductosDropDownList</servlet-name>
        <servlet-class>controladores.ControladorProductosDropDownList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPedidos</servlet-name>
        <servlet-class>controladores.ControladorPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUserPass</servlet-name>
        <servlet-class>controladores.ControladorUserPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProductosImagen</servlet-name>
        <servlet-class>controladores.ControladorProductosImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProductos</servlet-name>
        <servlet-class>controladores.ControladorProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorGeolocalizacion</servlet-name>
        <servlet-class>controladores.ControladorGeolocalizacion</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ControladorWhatsappMenssages</servlet-name>
        <servlet-class>controladores.ControladorWhatsappMenssages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorClientes</servlet-name>
        <url-pattern>/ControladorClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVentas</servlet-name>
        <url-pattern>/ControladorVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProductosListar</servlet-name>
        <url-pattern>/ControladorProductosListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSucursales</servlet-name>
        <url-pattern>/ControladorSucursales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProductosDropDownList</servlet-name>
        <url-pattern>/ControladorProductosDropDownList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPedidos</servlet-name>
        <url-pattern>/ControladorPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUserPass</servlet-name>
        <url-pattern>/ControladorUserPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProductosImagen</servlet-name>
        <url-pattern>/ControladorProductosImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProductos</servlet-name>
        <url-pattern>/ControladorProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorGeolocalizacion</servlet-name>
        <url-pattern>/ControladorGeolocalizacion</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorWhatsappMenssages</servlet-name>
        <url-pattern>/ControladorWhatsappMenssages</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
