
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ESTILOS WHATSAPP ICO!!!!!*/
.whatsapp-icon{

    height: 58px;
    position:fixed;
    top: 80vh;
    right: 3vh;
    z-index: 1000; 

}

.whatsapp-text{

    color:rgba(15,170,16,1); 
    font-size: 58px;

}
/*ESTILOS WHATSAPP ICO FIN!!!!!*/

